* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.gridindex {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr fr 1fr;

    grid-template-areas: "imagen imagen"
        "nav    nav   "
        "carousel  textArea "
        "footer    footer";
}

.imggrid {
    grid-area: imagen;
}

.navboots {
    grid-area: nav;
}

.carouselindex {
    grid-area: carousel;
}

.textindex {
    grid-area: textArea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(200, 210, 178);
}

.footerindex {
    grid-area: footer;
    display: flex;
    background-color: rgb(226, 234, 208);
}

.gridfooter {
    display: grid;
    grid-template-columns: 5fr 27fr 3fr;
    grid-template-rows: 1fr;

    grid-template-areas: "redes nada link";
}

.redesfoot {
    grid-area: redes;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.linkfoot {
    grid-area: link;
}

.container-img {
    width: 100%;
    background-color: rgba(146, 135, 102, 0.77);
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img figure {
    width: 100%;
    height: 100%;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(11) {
    grid-column-start: span 2;
}

.imggalery {
    height: 20%;
    transition: 0.8s;
}

.imggalery:hover {
    transform: scale(1.5, 1.5)
}

.footcol {
    background-color: rgba(203, 240, 110, 0.582);
}

.bodycol {
    background-color: #ac9d3071;
}

.ferreteria {
    font-family: 'Playfair Display SC', serif;
    color: #e47e0a;
    font-size: 2rem;

}

.imgheader {

    padding: 1rem 0 2rem 0;
}

.fondoimg {
    background-image: url(../assets/img/_Was\ beinhaltet\ eine\ Werkzeug-Grundausstattung\ für\ Elektroarbeiten.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;

}




.display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.gridproduct {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 3fr, 1fr;

    grid-template-areas: "nav nav nav nav"
        "h1 h1 h1 h1"
        "alba electri carpin otros"
        "foot foot foot foot";
    row-gap: 2px;
    column-gap: 2px;
}


.barra {
    grid-area: nav;
}

.h1product {
    grid-area: h1;
}

.productalba {
    grid-area: alba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productelectri {
    grid-area: electri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productcarpin {
    grid-area: carpin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.productotros {
    grid-area: otros;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productfoot {
    grid-area: foot;
}






@media screen and (max-width:800px) {
    .container-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .container-img .box-img:nth-child(1) {
        grid-column-start: span 1;
    }
}

@media screen and (max-width:500px) {
    .container-img {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-img .box-img img {
        height: 200px;
    }
}