*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


.gridindex{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr fr 1fr;

    grid-template-areas: "imagen imagen"
                         "nav    nav   "
                         "carousel  textArea "
                         "footer    footer";
    }

.imggrid{
    grid-area: imagen;
}

.navboots{
    grid-area: nav;
}

.carouselindex{
    grid-area: carousel;   
}

.textindex{
    grid-area: textArea;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgb(200, 210, 178); 
}

.footerindex{
    grid-area: footer;
    display: flex;
    background-color: rgb(226, 234, 208); 
}

.gridfooter{
    display: grid;
    grid-template-columns: 3fr 31fr 3fr;
    grid-template-rows: 1fr;

    grid-template-areas: "redes nada link";
}     

.redesfoot{
    grid-area: redes;
}

.linkfoot{
    grid-area: link;
}


.ferreteria{
    font-family: 'Playfair Display SC', serif;
    color: #e47e0a;
    font-size: 2rem;
    
}


.imgheader{
    background-color: #e47e0a;
    padding: 1rem 0 2rem 0;
}

.fondoimg{
    background-image: url(../assets/img/_Was\ beinhaltet\ eine\ Werkzeug-Grundausstattung\ für\ Elektroarbeiten.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;    

}




.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bordeul{
    border-style: double;
    padding: 1rem  
    margin: 4rem;
    font-size: 140%;
}

.bordeul:hover{
    color: #e47e0a;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
