



@import url(../css/components/resetcss/_reset.scss);
@import url(../css/components/grids/_indexgrid.scss);
@import url(../css/components/grids/_productosgrid.scss);


@import url(../css/components/queries/_galeriaqueries.scss);

.container-img {
    width: 100%;
    background-color: rgba(146, 135, 102, 0.77);
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.container-img .box-img figure {
    width: 100%;
    height: 100%;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(11) {
    grid-column-start: span 2;
}

.imggalery {
    height: 20%;
    transition: 0.8s;
}

.imggalery:hover {
    transform: scale(1.5, 1.5)
}

.footcol {
    background-color: rgba(203, 240, 110, 0.582);
}

.bodycol {
    background-color: #ac9d3071;
}

.ferreteria {
    font-family: 'Playfair Display SC', serif;
    color: #e47e0a;
    font-size: 2rem;

}

.imgheader {

    padding: 1rem 0 2rem 0;
}

.fondoimg {
    background-image: url(../assets/img/_Was\ beinhaltet\ eine\ Werkzeug-Grundausstattung\ für\ Elektroarbeiten.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;

}

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}










